.EmbedFrame {
  background-color: white;
}

.EmbedFrame.Theme--night {
  background-color: rgb(54, 58, 61);
  border: 1px solid rgb(46, 49, 52);
}

.EmbedFrame.Theme--night .fullscreen-night-text {
  color: var(--night-mode-color);
  transition: color 1s linear;
}

.EmbedFrame.Theme--night svg text {
  fill: rgba(255, 255, 255, 0.86) !important;
}

.EmbedFrame.Theme--night .DashCard .Card {
  background-color: rgb(54, 58, 61);
  border: 1px solid rgb(46, 49, 52);
}

.EmbedFrame.Theme--night .enable-dots-onhover .dc-tooltip circle.dot:hover,
.EmbedFrame.Theme--night .enable-dots .dc-tooltip circle.dot {
  fill: currentColor;
}
